language: php

php:
  - '7.1'
  - '7.2'
  -
cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - composer install --no-progress --no-interaction --prefer-dist --no-suggest

script:
  - vendor/bin/phpunit

notifications:
  email: false
